/* seletor de tag */
h1{
color: darkgray;
background-color: black;
font-size: 50px;
font-weight: 100;
font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: 'Courier New', Courier, monospace;
}


/* seletor de Classe */

.nomeClasse{
    background-color: burlywood;

}


/* seletor de id */

#css{
 color: red;   

}

/* seletores de listas */

p , li {

    font-size: 20px;
}

/* seletores de afiliação */

div p{
    color: blueviolet;
}

#um{
    background-color: blue;
    border: 1px solid black;
    padding: 15px;
    margin: 30px;
    
}

#dois{
    background-color: red;
    border: 20px solid green;
    padding: 5px;
    margin: 60px 50px ;
    width: 300px;
}
div{
    display: inline-block;
}
a{
    background-color: aqua;
    width: 500px;
}





